@import '@greycat/web/greycat.css';

@font-face {
  font-family: 'Open Sans';
  src: url('@greycat/web/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@greycat/web/fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@greycat/web/fonts/OpenSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

:root {
  --spacing: 10px;
}

app-layout {
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--spacing);

    nav {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        /* reset picoss left padding */
        padding-left: 0 !important;

        :where(li, a) {
          width: 100%;
          padding: 0;
          margin: 0;
          text-align: center;
        }
      }

      ul:first-of-type {
        /* reset picocss negative margin */
        margin-left: 0;
      }

      ul:last-of-type {
        /* reset picocss negative margin */
        margin-right: 0;
      }

      sl-icon-button {
        font-size: 1.5rem;
      }

      sl-icon-button.active {
        color: var(--primary);
      }
    }
  }

  nav.responsive {
    display: none;

    li {
      display: flex;
      height: 100%;
      align-items: center;

      &:last-child {
        margin-right: calc(var(--spacing) * 2);
      }

      a,
      button {
        padding-left: 4px;
        padding-right: 4px;
        align-items: center;
        display: flex;
        height: 100%;
        flex: 1;
        /* width: 40px; */
      }
    }
  }
}

app-layout nav {
  li {
    a,
    button {
      padding: 0.4rem 0;
      border-radius: 0;
      border: 0;
    }

    a.active {
      background-color: var(--primary-focus);
    }

    button[role='link']:is([aria-current], :hover, :active, :focus) {
      background-color: var(--gb-0);
    }
  }
}

/* Small devices */
@media (max-width: 991px) {
  app-layout {
    display: block;

    aside {
      display: none;
    }

    main {
      height: calc(100vh - 60px);
      width: 100%;
      overflow: hidden;

      > * {
        height: 100%;
        overflow: auto;
      }
    }

    nav.responsive {
      display: flex;
      background-color: var(--bg-0);

      ul {
        gap: calc(var(--spacing) * 0.5);
      }
    }

    li.brand {
      a svg {
        width: 42px;
        height: auto;
      }
    }

    li a svg,
    li button svg {
      width: 25px;
      height: auto;
    }
  }

  nav ol:last-of-type,
  nav ul:last-of-type {
    /* reset pico */
    margin-right: 0;
  }
}

/* Large devices */
@media (min-width: 992px) {
  app-layout {
    display: grid;
    grid-template-columns: 60px 1fr;

    & > * {
      /* ie. https://datacadamia.com/web/css/grid/overflow */
      min-width: 0px;
    }

    aside {
      display: flex;
      background-color: var(--bg-0);
    }

    nav.responsive {
      display: none;
    }

    li.brand {
      margin-bottom: calc(var(--spacing) * 2);

      a svg {
        width: 50px;
        height: auto;
      }
    }

    main {
      height: 100vh;
      width: 100%;
      /* overflow: hidden; */

      > * {
        height: 100vh;
        overflow: auto;
      }
    }
  }
}
